@-ms-viewport {
  width: device-width;
  zoom: 1;
  user-zoom: fixed;
  max-zoom: 1;
} 

@-o-viewport {
  width: device-width;
  zoom: 1;
  user-zoom: fixed;
  max-zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
  user-zoom: fixed;
  max-zoom: 1;
}

html, body {
  color: #333333;
  background: #f5f5f5;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 60em;
}

header {
  background: #6699cc;
  width: 100%;
  height:  5em;
  color: #f5f5f5;
}

header h1 {
  margin: 0;
}

header > * {
  height: 5em;
  display: block;
  float: left;
}

header .logo {
  background-image: url(logo.svg);
  width: 5em;
  overflow: hidden;
}

header .logo h1 {
  opacity: 0;
}

header > *:not(:first-child) {
  float: right;
}

header > *:not(:first-child)::before {
  content: "";
  background: #f5f5f5;
  height: 4em;
  width: 0.1em;
  position: absolute;
  top: 0.5em;
  margin-left: -1.5em;
}

header > *:not(:first-child) > div {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.profile {
  margin-right: 1.5em;
  margin-left: 3em;
}

.profile > div:first-child {
  font-size: 1.2em;
}

.profile > .logout {
  font-size: 1em;
}

.profile > .logout a {
  font-size: 1.2em;
  color: #f5f5f5;
  text-decoration: none;
  font-style: italic;
}

.profile > .logout:hover {
  text-decoration: underline;
}

.register header > *:not(:first-child) {
  display: none;
}

main {
  width: 90%;
  margin: 0 auto;
}

.home label {
  height: 4em;
  width: 50%;
  float: left;
  margin: 0;
  text-align: center;
  background: #6699cc;
  vertical-align: middle;
  font-size: 2em;
  cursor: pointer;
  line-height: 4em;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

.home label.zusagen {
  background: #99cc99;
}

.home label.absagen {
  background: #f2777a;
}

.home label.zusagen:hover {
  background: #a2c3a2;
  border: 0.5em solid rgba(0,0,0,0.2);
  line-height: 3em;
}

.home label.absagen:hover {
  background: #eb7f81;
  border: 0.5em solid rgba(0,0,0,0.2);
  line-height: 3em;
}

.home input[type="radio"] {
  display: none;
  visibility: hidden;
}

.list ul {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

.list ul li {
  list-style: none;
  padding: 0;
  margin: 0.1em 0 0.1em 1em;
}

.list ul li:first-child {
  list-style: none;
  padding: 0;
  margin: 0.1em 0 1em 1em;
  font-weight: bold;
}

main > div {
  width: 100%;
  float: left;
}

main > div:last-child {
  padding-bottom: 1.5em;
}

sup {
  font-weight: normal;
  font-size: 0.625em
}

textarea {
  margin: 0;
  width: 100%;
  height: 4em;
  font-size: 1em;
  padding: 0;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.entry {
  float: left;
  width: 100%;
}

.entry input[type="submit"] {
  background: #6699cc;
  -webkit-appearance: none;
  height: 2em;
  width: 10em;
  font-size: 1em;
  float: right;
  border: none;
}

.guestbook ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.guestbook ul li .by {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-style: italic;
}

.guestbook ul li .text {
  font-size: 1.05em;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid #333333;
}

.guestbook ul li:last-child .text {
  border-bottom: none;
}

.or {
  font-weight: normal;
  display: inline;
  padding-bottom: 0!important;
}

.or a {
  color: #369;
  text-decoration: none;
}

.or a:hover {
  text-decoration: underline;
}

.register form {
  font-size: 1.3em;
  width: 22em;
}

.register form label {
  width: 100%;
  float: left;
  margin-bottom: 0.2em;
}

.register form label span {
  float: left;
}

.register form label input {
  font-size: 1em;
  float: right;
  margin: 0;
}

.register input[type="submit"] {
  background: #6699cc;
  -webkit-appearance: none;
  height: 2em;
  width: 7em;
  font-size: 1em;
  float: right;
  border: none;
}

@media screen and (max-width:30em) {

  header {
      height: 9em;
  }

  header .logo {
      float: right;
  }

  header > *:not(:first-child) {
      width: 100%;
      float: left;
      margin: 0;
      height: auto;
      margin-bottom: 0.5em;
  }

  header > *:not(:first-child)::before {
      display: none;
  }
  
  header > *:not(:first-child) > div:first-child {
      float: left;
      margin:0;
      margin-left: 1em;
  }
  
  header > *:not(:first-child) > div:last-child {
      float: right;
      margin:0;
      margin-right: 1em;
  }

  .register header {
    height: 5em;
  }
  
  ul {
    width: 100%;
    float: none;
  }
  
  ul:last-child {
    margin-top: 1em;
  }
  
  .register input[type="radio"] {
    width: 100%;
    font-size: 1.5em;
  }

  .home label {
    width: 100%;
  }

  .home label.absagen {
    margin-bottom: 1em;
  }
  
  main div:last-child h2 {
    margin-top: 9.85em;
  }

  .register form label input {
    float: left;
  }

  .register form label span {
    float: none;
    display: block;
  }

  .register input[type="submit"] {
    float: left;
  }

  .register form {
    width: 100%;
  }
  
}